.DS_Store
blast-2.2.26
Output
*.gz
*~
src/resfinder.egg-info/

*.pyc
__pycache__
running_test
.pdm.toml
.pdm-python
*.json
.venv
myenv
*.txt
*.tsv
virulencefinder_blast
virulecefinder_kma
virulencefinder_db
tmp
dist/
